*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.outerContainer{
    /* border: 2px solid black; */
    height: 60vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.carCategory1{
    /* border: 2px solid black; */
    height: 100%;
    width: 33.33%;
    background-color: #e38826;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    outline: 0;
    padding: 0;
}

.carSymbol{
    /* border: 2px solid red; */
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carName{
    /* border: 2px solid red; */
    height: 20%;
    width: 80%;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.text{
    /* border: 2px solid red; */
    height: 30%;
    width: 80%;
    font-size:10%;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.LearnMore{
    /* border: 2px solid red; */
    height: 20%;
    width: 80%;
    display: flex;
    align-items: center;
}
button{
    border: 1px solid white;
    height: 50%;
    width: 60%;
    color:#e38826;
    border-radius: 50px;
}
.carCategory2{
    /* border: 2px solid black; */
    height: 100%;
    width: 33.33%;
    background-color: #006970;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    outline: 0;
    padding: 0;
}
.carCategory3{
    /* border: 2px solid black; */
    height: 100%;
    width: 33.33%;
    background-color: #004241;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    outline: 0;
    padding: 0;
}